/*Flexbox styling sheet*/

/*let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
    box-sizing: border-box;
    
}

.container{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row-reverse;
    align-items: stretch;
    align-content: center;
}

.column{
    flex: 1;
    min-width: 300px;
    
}

img{
    width: 100%;
}

